<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
   <rules>
                <clear />
                <rule name="Rewrite Oscial 2.0 Article links" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{QUERY_STRING}" pattern="article=(.*)" />
                    </conditions>
                    <action type="Redirect" url="/{C:1}" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="Main Rule" enabled="false" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="wordpress" patternSyntax="ECMAScript">
                    <match url="bonobo/.*" negate="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule> 
		
</rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.html" />
        <add value="index.htm" />
        <add value="index.asp" />
        <add value="index.aspx" />
        <add value="default.html" />
        <add value="default.htm" />
        <add value="default.asp" />
        <add value="default.aspx" />
        <add value="default.php" />
        <add value="winhostdefault.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
