/*	--------------------------------------------------
Global Reset - Resets all browser defaults to 0
-------------------------------------------------- */
body { background:#fff; color:#444; border-top:10px solid #000; }
.posts h2 a, .posts p a:hover, a { color:#000; }


.more a { font-size:12px; }
p { margin:0; padding:0; }

a:hover, .posts h2 a:hover, .posts p a { color:#03b7a4; }

hr { color:#fffdea; border:none; border-top:1px dotted #372322; }
.hr2 { color:#fffdea; border:none;  }
/* headings ---------------------- */
h1,h2,h3,h4,h5,h6 { color:#000; }
.container_border { }

/* Structure ---------------------- */
#page_nav { background: url(8-bottlegreen/navbg.png) repeat-x left top; }
.content_sub_sidebar_right { border-left:1px solid #e2e2e2; border-right:1px solid #e2e2e2;   }


#content h1.cat_head  {  color:#03b7a4; background:url(8-bottlegreen/dotline.png) repeat-x left 3px; }
#content h1.cat_head span { background:#fff; }

#footer { background:url(8-bottlegreen/dotline.png)  repeat-x top left; } 
#bottom { background:url(8-bottlegreen/dotline.png)  repeat-x top left; }


/* header ---------------------- */
#header .blog-title a{ color:#000;   }
#header .blog-title a:hover{color:#03b7a4; }
#header .blog-description{ color:#777; }

/* slider ---------------------- */
.nivo-controlNav a { background:url(8-bottlegreen/normal.png) no-repeat left top; border:none; color:#fff; }
.nivo-controlNav a:hover, .nivo-controlNav a.active { background:url(8-bottlegreen/current.png) no-repeat left top; }

.featured_news h3  { min-height:15px; color:#03b7a4; background:url(8-bottlegreen/dotline.png) repeat-x left 3px;  }
.featured_news h3 span { background:#fff; }



/*  Prevents --------------------------------*/
#content .anythingSlider .wrapper ul ul  { position: static; margin: 0; background:none; overflow: visible; width: auto; border: 0; }
#content .anythingSlider .wrapper ul ul li  { float: none; height: auto; width: auto; }
#content .anythingSlider .wrapper ul li { background:none;   } 
#content .anythingSlider ul li p.date { width:460px; padding:5px 2px 4px 5px; color:#a9a9a9; font:10px Arial, Helvetica, sans-serif; text-transform:uppercase; background:url(8-bottlegreen/slider_strip.png) repeat-x bottom; }

#content .anythingSlider ul li p.date a {  color:#a9a9a9; text-decoration:none;  }
#content .anythingSlider ul li p.date a:hover { color:#fff; }


/* slider css */
#thumbNav a   { background:#ccc url(8-bottlegreen/normal.png) no-repeat left top; text-align: center; color:#41322e; text-indent:-9009px; }
#thumbNav a:hover  { background:#ddd url(8-bottlegreen/normal.png) no-repeat left top;  }
#thumbNav a.cur  { background:#ddd url(8-bottlegreen/current.png) no-repeat left top;   }

/* Prevents */
.anythingSlider .wrapper ul ul  { background: none; border: 0; }
.anythingSlider .wrapper ul ul li { background: none; }
.anythingSlider .wrapper  { border:none; }
#content .anythingSlider ul li p.date { color:#fff; }

.featured_work { border-bottom:5px solid #cfc7af; }
.featured_work img {border:1px solid #cfc7af; }


/* index news -------------*/
.index_column h3 { color:#e40000; border-top:1px dotted #333; border-bottom:1px dotted #333;  }

#content .news_list li { background:none; }
#content .news_list li img { border:1px solid #ccc; }
#content .news_list li h3 { border:none; }
#content .news_list li h4 a { color:#555; }
#content .news_list li h4 a:hover { color:#03b7a4; }

#content .news_list li p.comment_l { color:#979797; background:url(8-bottlegreen/i_comment.png) no-repeat left 2px; }

#content .news_list li p.comment_l a { color:#979797; }
#content .news_list li p.comment_l a:hover { color:#000; }
#content .news_list li:last-child { background:none; }
#content .single_columns .news_list li:last-child { margin-bottom:0; padding:0 0 5px 0; }

#content .single_columns h3 { color:#e40000; border-top:1px dotted #333; border-bottom:1px dotted #333;  }

.post_comments { color:#b3b3b3;   }
.post_comments a { color:#fff; }
.post_comments a small { color:#b3b3b3; }
.post_comments a:hover { color:#ccc; }

.post_comments { background:url(8-bottlegreen/s1_comment.png) no-repeat left top; }


.post_left a, .post_right a {  border:1px solid #e7e7e7; background:url(../images/post_navbg.png) repeat-x left bottom;  }

#content .posts p.post_bottom .category a { color:#666;  }
#content .posts p.post_bottom .category a:hover { color:#D12C00;  }
#content .posts p.post_bottom .tags a {  color:#666;  }
#content .posts p.post_bottom .tags a:hover {  color:#D12C00;  }

#content .related_post h3 { color:#03b7a4; border-bottom:1px dotted #ccc; }
#content .related_post li { background:url(../images/i_arrow.png) no-repeat left 2px; }


 
/* ----searchform ------ */
.searchform { }
.searchform .s { color:#666; background:#fff; border:none;   }
.search_btn {  background:url(8-bottlegreen/i_search.png) no-repeat left top; }

/*---------TOP NAVIGATION for PAGES---------  */
#top_strip { background:#000; } 
#top_strip p.links { color:#7d7d7d;  }
#top_strip p.links a { color:#7d7d7d;}
#top_strip p.links a:hover { color:#fff; }

/*#breadcrumb section  =================================== */
.breadcrumb { border-bottom:1px dotted #dfdfdf; background:#fff; color:#777 } 
.breadcrumb a { color:#c63133;  }
.breadcrumb a:hover { color:#000; }


/* content ---------------------------- */
#content li { background:url(8-bottlegreen/arrow_cat.png) no-repeat left 2px; }
#content ol li { background:none; }


/* gallery ------------------- */

#content .gallerylist li img { border:2px solid #ccc; background:#fff;   }
#content .img { border:2px solid #ccc; }

#content .gallerylist li p a { color:#690c0a; }
#content .gallerylist li p a:hover { color:#000; }

 
/* post ---------------------------- */

.comment_post a { background:url(8-bottlegreen/comment_bg.png) no-repeat;}

.posts { border-bottom:3px double #ccc;   }
.main_img { border:1px solid #ccc; background:#fff; }
.date { color:#858585;  }
.by { color:#858585; border-bottom:1px solid #e3e3e3; }
#content .category { color:#858585; background:url(../images/i_category.png) no-repeat left 0px; }

.tags { color:#858585;  background:url(../images/i_tags.png) no-repeat left 2px; }
.post_left a { color:#000; }
.post_left a:hover { color:#c63133;}

.small_thumb img { border:1px solid #ccc; }  

.b_text { font:bold 12px Arial, Helvetica, sans-serif; color:#858585;  }

.bookmark { border-top:2px solid #ebebeb; }

.video_main { border:2px solid #ccc; }
code { background:#ccc; }

blockquote { background:url(8-bottlegreen/quote.png) no-repeat;    } 
blockquote p { color:#333;  }
blockquote cite { color:#666; }

blockquote a { color:#333; }
blockquote a:hover { color:#000; }

.flickr img{ border:2px solid #ddd; background:#fff; }
.flickr img:hover{ border-color:#333 }


#content .posts p.date { color:#a9a9a9; }
#content .posts p.date a { color:#444; border-bottom:1px dotted #ccc; }
#content .posts p.date a:hover { color:#000; }


/* Post Pagination */

.pagination .on { background:#03b7a4; color:#fff; }
.pagination a { background:#ccc; color:#000; }
.pagination a:hover { background:#333; color:#fff; }


/*#sidebar ----------------------- */
.sidebar h3,  #content .realated_post h3  { min-height:15px; color:#03b7a4; background:url(8-bottlegreen/dotline.png) repeat-x left 3px;  }
.sidebar h3 span,  #content .realated_post h3 span { background:#fff; }

.content_sub_sidebar_right .spotlight h4 a, #sidebar_r .spotlight h4 a  { color:#555; }
.content_sub_sidebar_right .spotlight h4 a:hover, #sidebar_r .spotlight h4 a:hover { color:#03b7a4; }


#sidebar .sub_sidebar .widget  {  background:#fff; }
#sidebar .sub_sidebar li { border-bottom:1px dotted #e5e5e5;  }
#sidebar .sub_sidebar li .url { color:#E40000; }

#sidebar li  { color:#666; border-bottom:1px solid #ccc;   }
#sidebar li a { color:#333; }
#sidebar li a:hover { color:#c63133; }
#sidebar ul.recent_post li { padding-left:18px; background:url(8-bottlegreen/i_post.png) no-repeat left 1px; border-bottom:none; }

#sidebar .widget a { color:#333; }
#sidebar .widget a:hover { color:#c63133; }

.btn_submit { width:72px; height:27px; border:none; cursor:pointer; background:url(8-bottlegreen/b_submit.png) no-repeat; }

.social_media { background:#fff;   }
#sidebar .social_media li {  border-bottom:1px dotted #ccc; }
#sidebar .social_media li.i_rss { background:url(../images/i_rss2.png) no-repeat left 4px; }
#sidebar .social_media li.i_email { background:url(../images/i_email.png) no-repeat left 5px; }
#sidebar .social_media li.i_twitter { background:url(../images/i_twitter.png) no-repeat left 3px; }

#sidebar .social_media li a { color:#666; }
#sidebar .social_media li a:hover { color:#000; }

#sidebar .popular_post {  background:#fff; }
#sidebar .popular_post h3 { background:url(8-bottlegreen/news_sepretor.jpg) repeat-x bottom left;color: #d12c00;  }
#sidebar .popular_post li { border-bottom:1px dotted #e5e5e5; }
#sidebar .popular_post li span  { color:#909090; }
#sidebar .popular_post li span a { color:#000; border-bottom:1px dotted #ccc;  }
.popular_date { color:#a9a9a9;}



#content .popular_post li, #content .realated_post li { background:none; }
#content .popular_post li a,  #content .realated_post li a { color:#555;  }
#content .popular_post li a:hover,  #content .realated_post li a:hover { color:#03b7a4; }
#content .popular_post a.popular_img,  #content .realated_post a.popular_img { border:1px solid #ccc; }
.popular_date { background: url(8-bottlegreen/date_bg.png) repeat-x left top; }


#sidebar .advt { height:100%; overflow:hidden; margin:0 10px; padding:15px;  padding-bottom:0; background:#fff;  }
#sidebar .advt img { margin-bottom:18px;}


/* sidebar posts list ----------- */

#sidebar_r .category_wise_post .cate_img { border:1px solid #ccc; }
.category_wise_post_date { color:#a9a9a9; background: url(8-bottlegreen/date_bg.png) repeat-x left top; }

#sidebar_r .category_wise_post .category_wise_post_date a.cate_comments { color:#a9a9a9; }
#sidebar_r .category_wise_post .category_wise_post_date a:hover.cate_comments { color:#fff;  }

#sidebar_r .category_wise_post li { border-bottom:1px solid #e4e3e3; background: url(8-bottlegreen/arrow_cat.png) no-repeat left top; }
#sidebar_r .category_wise_post li  a { color:#555; }
#sidebar_r .category_wise_post li  a:hover  { color:#03b7a4; }
#sidebar_r .category_wise_post li:last-child { border-bottom:none; }

.sidebar li a { color:#555; }
.sidebar li a:hover { color:#03b7a4; }


/* category navigation */
.sidebar .slidemenu ul { background:#fff;}
.sidebar .slidemenu ul li a { background:url(8-bottlegreen/arrow.png) no-repeat left 13px; border-bottom:1px solid #e5e5e5;  }
.sidebar .slidemenu ul li a:hover { color:#000; background:url(8-bottlegreen/arrow.png) no-repeat left 13px; border-bottom:1px solid #e5e5e5; }
.sidebar .slidemenu li a { color:#616161; border-bottom:1px solid #e5e5e5; background:#fff url(8-bottlegreen/arrow_down.png) no-repeat right 8px;}
.sidebar .slidemenu li a:hover {border:0; color:#03b7a4; background:#fff url(8-bottlegreen/arrow_down.png) no-repeat right 8px; border-bottom:1px solid #e5e5e5; }
.sidebar .slidemenu li:hover > a {background:#fff url(8-bottlegreen/arrow_down.png) no-repeat right 8px; border-bottom:1px solid #e5e5e5; }

.sidebar .slidemenu ul li ul li a {  background:url(8-bottlegreen/arrow.png) no-repeat 13px 13px; border-bottom:1px solid #e5e5e5;  }
.sidebar .slidemenu ul li ul li a:hover { background:url(8-bottlegreen/arrow.png) no-repeat 13px 13px; }
.sidebar .slidemenu li ul li:hover > a { display:block;  background:url(8-bottlegreen/arrow.png) no-repeat left 13px; }

.sidebar .slidemenu li.current-cat a { color:#03b7a4; }
.sidebar .slidemenu li.current-cat ul li a {color:#616161;  }
.sidebar .slidemenu li.current-cat ul li a:hover {color:#000;  }

.sidebar .slidemenu ul li.current-cat ul, .sidebar .slidemenu ul li.current-cat-parent ul { visibility: visible!important; }


/* page navigation */
#page_nav ul li { color:#fff;  }
#page_nav ul li a { color:#fff; }
#page_nav ul li a:hover { background:#03b7a4; }
#page_nav ul li ul li a { background:#fff; color:#666; }
#page_nav ul li ul li a:hover { color:#03b7a4; background:#fff; }

#page_nav ul li.current_page_item, #page_nav ul li.current_page_parent { background:#03b7a4;  }
#page_nav ul li.current_page_item ul, #page_nav ul li.current_page_parent ul { visibility: visible!important; }
#page_nav ul li.current_page_parent ul li.current_page_item a { color:#03b7a4; }


/* subscribe section -----------*/
.subscribe { background:#f6f6f6; border:1px solid #d6d6d6; }
.subscribe h3 { background:none; }
.subscribe p a { background:url(../images/i_rss2.png) no-repeat left 0px; }
.subscribe_form {  }
.field { background:#fff; border:1px solid #ccc; }

#sidebar .subscribe p.socialbookmark a { background:none;  }


#sidebar #twitter h3 { background:url(../images/i_twitter2.png) no-repeat left 3px; }
.twitter_post #twitter li { background:none !important; }

	  
/*---------ARCHIVE PAGE --------- */
.arclist ul li{ color:silver; border-bottom:1px solid #f1f1ed;  background:none }
.arclist ul li ul{ border-bottom:0; }
.arclist ul li ul li{ border-bottom:0;}
.arclist .archives-time{ color: #666666; }

/*---------COMMENTS --------- */
#comments h3{  color:#03b7a4; background:url(8-bottlegreen/dotline.png) repeat-x left 8px; }

#comments .comment {background:none; }
#comments  p.authorcomment { border-bottom:1px dotted #ccc;  }
#comments  p.authorcomment a {  color:#666; }
#comments  p.authorcomment a:hover { color:#000; }


#comments .comment .meta-left { color:#aaaaaa }
#comments .comment .text-right { border:1px solid #ddd; background:#fff;   /* background:#e9e7e7 url(8-bottlegreen/commentbg.png) no-repeat center left;*/ }

#comments .comment .authcomment{   background:#fff;  /* background:#ebebeb url(8-bottlegreen/commentbg_author.png) no-repeat center left;*/ border:1px solid #ddd;  }
#comments .comment .authcomment p { color:#555; }
#comments .comment .text-right p a { color:#03b7a4; text-decoration:none; }
#comments .comment .text-right p a:hover { color:#000; }

span.comm-reply{ color:#333; }
span.comm-reply a { color:#333;  }
span.comm-reply a:hover{ color:#000; }
.commpadd input, #respond textarea { border:1px solid #dbdbdb; border-right:1px solid #c9c9c9;  border-bottom :1px solid #c9c9c9;  }
#respond textarea { background:#fff url(../images/i_comments_form.png) no-repeat 8px 8px;   }
.commpadd input.name { background:#fff url(../images/i_name.png) no-repeat 8px 10px; } 
.commpadd input.email { background:#fff url(../images/i_email2.png) no-repeat 8px 10px; } 
.commpadd input.website { background:#fff url(../images/i_website.png) no-repeat 8px 10px; } 

input#submit{ color:#fff; text-shadow:1px 1px 1px #333; background:#03b7a4; border:2px solid #fff; border-right:2px solid #000; border-bottom:2px solid #000; }
input#submit:hover  { background:#000; border:2px solid #fff; border-right:2px solid #ccc; border-bottom:2px solid #ccc; }

.avatar { border:1px solid #ddd; }

#comments .comment .text-right p a.comment-reply-link { background:#fff url(../images/b_reply.png) repeat-x left bottom; border:1px solid #cdcdcd; color:#666; }
#comments .comment .text-right p a:hover.comment-reply-link  { color:#000; background:#fff; }



/* #bottom ---------------------------- */

#bottom a { color:#555; }
#bottom a:hover { color:#000; }


#bottom h3 { color:#03b7a4; }
#bottom h3 a { color:#03b7a4; }
#bottom h3 a:hover { color:#000;  }

.social_bookmark li a { color:#555; }
.social_bookmark li a:hover { color:#000; }

.i_twitter, #content li.i_twitter { background:url(../images/i_twitter.png) no-repeat left top;}
.i_facebook, #content li.i_facebook { background:url(../images/i_facebook.png) no-repeat left 2px;}
.i_digg, #content li.i_digg { background:url(../images/i_digg.png) no-repeat left 2px;}
.i_myspace, #content li.i_myspace { background:url(../images/i_myspace.png) no-repeat left 2px;}

.blogroll li a { color:#555; }
.blogroll li a:hover { color:#03b7a4; }

#twitter_update_list li { border-bottom:1px solid #e5e5e5; background:url(8-bottlegreen/arrow_cat.png) no-repeat left 5px;color:#555; }
#twitter_update_list li:last-child { border-bottom:none; }


/* footer ---------------------------- */
#footer p { color:#9e9e9e; }
#footer p span.templatic { color:#fff;  background:url(../images/templatic.png) no-repeat 0;   }

#footer a { color:#ccc; text-decoration:underline; }
#footer a:hover { color:#fff; }

#footer p { color:#929292; }
#footer .copyright , #footer .copyright  a { color:#929292; }
#footer p a:hover {  color:#fff; }